.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header-container{
    display: flex;
    justify-content: space-between;
        align-items: center;
}
.header-body{
    background-color: rgba(255, 144, 14, 0.1);
    width: 1920px;
    height: 1322px;
    

}

.logo-text h2{
    margin-left: 227px;
font-size: 45px;
font-weight: 700;
line-height: 53px;
text-align: center;
margin-top: 50px;
}
.menu {
    width: 477px;
    height: 26px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 240px;

margin-top: 63px;
}

.navbar h2{
      font-size: 18px;
font-weight: 500;
text-align: center;
line-height: 26px;
background-color: #424242;
}

.brand-info{
    text-align: center;
}

.brand-title h1{
color: #131313;
font-size: 64px;
font-weight: 700;
line-height: auto;
text-align: center;
}

.brand-text p{
color: #727272;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 32px;
}

.btn{
    margin-top: 32px;
}
.btn01{
width: 180px;
height: 64px;
border: none;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
background-color: rgba(255, 144, 14, 1);
color: rgba(255, 255, 255, 1);
padding: 21px 24px 20px 25px;
text-align: center;
line-height: auto;
}

.banner img{
    width: 1440px;
height: 700px;
margin-top: 50px;
align-items: center;
border-radius: 8px;
}